# EI ST4

## Imports

In [1]:
import pandas as pd
from datetime import datetime
import math

In [2]:
tf = pd.read_csv(r"DS_CentraleSupelec_ST42021/DS_CentraleSupelec_train.csv")
rf = pd.read_csv(r"DS_CentraleSupelec_ST42021/DS_CentraleSupelec_test.csv")

## Cleaning up the dataframe

In [3]:
tf

,userId,age,gender,registrationDate,languageCode,countryCode,emailContactable,postalContactable,postalCode,numberChildren,...,detergentType,MrPropreTrier,AntikalTrier,ArielTrier,DashTrier,scentLover,petOwner,ecoInterest,closestShop,washDishes
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,2019-10-14T17:33:37Z,fr,FRA,True,True,68540,1,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,NaN,NaN,Auto
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,67,F,2017-07-25T07:00:31Z,fr,FRA,True,True,17390,3,...,Pods,Known Trier,Known Trier,Known Trier,NaN,NaN,No,High,NaN,Auto
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,45,F,2015-06-25T00:00:00Z,fr,FRA,True,True,30200,1,...,Liquid,NaN,NaN,Known Trier,Known Trier,NonUser,Yes,High,NaN,Auto
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,35,F,2018-01-31T07:24:39Z,fr,FRA,True,True,61400,2,...,Pods,NaN,NaN,Known Trier,Known Trier,Low,Yes,Medium,NaN,Hand
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,38,F,2016-01-26T11:42:17Z,fr,FRA,True,True,30620,0,...,Liquid,Known Trier,Known Trier,Known Trier,Known Trier,NaN,Yes,Low,NaN,Hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,53,F,2015-03-11T20:03:16Z,fr,FRA,True,True,77240,4+,...,Pods,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,43,F,2015-10-10T19:16:19Z,fr,FRA,True,True,45120,0,...,Liquid,NaN,NaN,NaN,NaN,Low,Yes,Medium,NaN,Hand
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,42,F,2015-05-08T02:59:34Z,fr,FRA,True,True,35170,3,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,High,NaN,Hand
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,39,M,2019-05-20T11:59:02Z,fr,FRA,True,True,45160,1,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,2017-03-05T12:42:26Z,FR,FRA,True,True,37600,3,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,High,3. SuperMarket,Hand

In [4]:
rf

,userId,age,gender,registrationDate,languageCode,countryCode,emailContactable,postalContactable,postalCode,numberChildren,...,toothBrushType,detergentType,MrPropreTrier,AntikalTrier,ArielTrier,DashTrier,scentLover,petOwner,ecoInterest,closestShop
0,use_yFJKoOUCJ7ED8c8Xeov1TzdfpRL,38,F,2017-10-05T08:03:06Z,fr,FRA,True,True,59640,4+,...,Manual,Liquid,Known Trier,NaN,Known Trier,Known Trier,NaN,No - maybe future,High,NaN
1,use_t1WpMt2fprbjEteXNSZ1TzdyvAi,45,F,2017-11-16T15:45:53Z,fr,FRA,True,True,67110,2,...,Manual,Liquid,NaN,NaN,Known Trier,NaN,NaN,Yes,High,NaN
2,use_w9jT58WcsP3tUkPCA0A1TzgYdeE,27,F,2013-05-31T00:00:00Z,fr,FRA,False,True,62700,1,...,Manual,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
3,use_onifqa3LnOsjZOhPYfN1TzdfkfA,66,F,2016-08-31T05:48:51Z,fr,FRA,True,True,85130,3,...,Manual,Liquid,Known Trier,NaN,NaN,NaN,NaN,No,NaN,NaN
4,use_KgP1NlkmR24pbU9KRwK1Tzdqm8u,42,F,2017-09-01T13:14:54Z,fr,FRA,True,True,44460,2,...,Manual,Pods,NaN,NaN,Known Trier,Known Trier,NonUser,Yes,Medium,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,use_yXWhQEP4R6vvYOeJzz61TZU7JRs,50,F,2006-02-06T00:00:00Z,fr,FRA,True,True,59000,0,...,Manual,NaN,NaN,NaN,Known Trier,Known Trier,High,Yes,High,NaN
3996,use_MafnxsXODJV5oVhfi1h1TzdgYQT,43,F,2008-03-10T00:00:00Z,fr,FRA,True,True,80090,0,...,Electric,Pods,NaN,NaN,NaN,NaN,Low,Yes,High,3. SuperMarket
3997,use_Pbui34WhFhPjNeX6TEz1TzdZdVv,38,F,2019-04-19T14:18:48Z,fr,FRA,True,True,51200,2,...,Manual,Pods,NaN,NaN,Known Trier,Known Trier,High,Yes,Very high,2. Moyenne Surface
3998,use_sDxhHoOEzHyrAzWSPnM1TzdYVjB,38,F,2015-10-02T00:08:39Z,fr,FRA,True,True,29200,2,...,Electric,Liquid,Known Trier,Known Trier,Known Trier,Known Trier,Low,No,NaN,NaN
3999,use_cK0eXBDkaHEqmbVJLYC1TzdsXiW,43,F,2007-12-31T00:00:00Z,fr,FRA,True,False,67800,0,...,Manual,Powder,NaN,NaN,NaN,Known Trier,NaN,No,Medium,NaN

We can remove the `languageCode` and `countryCode` column as they are constant

In [5]:
tf[~tf.languageCode.isin(['fr', 'FR'])].empty and tf[~tf.countryCode.eq('FRA')].empty

True

In [6]:
tf = tf.drop(columns=['languageCode', 'countryCode'])
rf = rf.drop(columns=['languageCode', 'countryCode'])

We will also remove the `userId`, `registrationDate`, `reactivationValue`, `emailContactable` and `postalContactable` as they are irrelevant. `postalCode` as it will be to hard to analyse.

In [7]:
tf = tf.drop(columns=['registrationDate', 'reactivationValue', 'emailContactable', 'postalContactable', 'postalCode'])
rf = rf.drop(columns=['registrationDate', 'reactivationValue', 'emailContactable', 'postalContactable', 'postalCode'])

We are going to replace the `washDishes` `STRING` column with an `INT` column

In [8]:
tf["washDishes"] = tf["washDishes"].apply(lambda e: 1 if e == 'Auto' else 0)

In the `MrPropreTrier`, `AntikalTrier`, `ArielTrier`, `DashTrier` we will replace `Known Trier` with `1` and `Nan` with `-1`

In [9]:
for c in ['MrPropreTrier', 'AntikalTrier', 'ArielTrier', 'DashTrier']:
    tf[c[:-5]] = tf.apply(lambda row: 1.0 if row[c] == 'Known Trier' else 0.0, axis=1)
    tf = tf.drop(columns=[c])

    rf[c[:-5]] = rf.apply(lambda row: 1.0 if row[c] == 'Known Trier' else 0.0, axis=1)
    rf = rf.drop(columns=[c])

We will replace `detergentType` by `liquid`, `pods` and `powder`

In [10]:
# pods
tf['pods'] = tf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Pods' in e else 0.0)
rf['pods'] = rf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Pods' in e else 0.0)

# powder
tf['powder'] = tf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Powder' in e else 0.0)
rf['powder'] = rf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Powder' in e else 0.0)

# liquid
tf['liquid'] = tf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Liquid' in e else 0.0)
rf['liquid'] = rf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Liquid' in e else 0.0)

# removes extra column
tf = tf.drop(columns=['detergentType']) 
rf = rf.drop(columns=['detergentType'])

Replacing `toothBrushType` with `electricToothbrush`

In [11]:
tf['electricToothbrush'] = tf['toothBrushType'].apply(lambda e: 1.0 if e == 'Electric' else 0.0)
rf['electricToothbrush'] = rf['toothBrushType'].apply(lambda e: 1.0 if e == 'Electric' else 0.0)

tf = tf.drop(columns=['toothBrushType'])
rf = rf.drop(columns=['toothBrushType'])

Replacing `petOwner` with `hasPet`, if the first 3 characters are 'Yes' or 'Oui' the value is `1`, else it is `-1`

In [12]:
def likesPets(s:str) -> float:
    if s in ['Yes, we love our furry friends', "Oui, j'adore nos petites boules de poils !"]: 
        return 1

    if s in ['Yes']: 
        return 0.9

    if s in ["Non, j'aime les animaux, mais je n'en ai pas pour le moment.", 'No, we love animals but no pets here for now']:   
        return 0.8
    
    if s in ['No - maybe future']:
        return 0.5

    if s in ['No']:
        return 0.3

    if s in ['Des animaux dans la maison ? Non merci !', "No, we'd never have pets in the house"]:
        return 0
    return 0.3

# creating a new column for animal lovers
tf['likesPets'] = tf['petOwner'].apply(likesPets)
rf['likesPets'] = rf['petOwner'].apply(likesPets)

# creating a new column for pet owners
tf['hasPet'] = tf['petOwner'].apply(lambda e: 1.0 if str(e)[:3] == 'Yes' or str(e)[:3] == 'Oui' else 0.0)
rf['hasPet'] = rf['petOwner'].apply(lambda e: 1.0 if str(e)[:3] == 'Yes' or str(e)[:3] == 'Oui' else 0.0)

tf = tf.drop(columns=['petOwner'])
rf = rf.drop(columns=['petOwner'])

Transforms a `ISO 8601` time string to the amount of days since the time string

In [13]:
def timeStringToDelta(timeString: str) -> int:
    if pd.isna(timeString): return None
    return int((datetime.utcnow().timestamp() - datetime.strptime(timeString[:10], "%Y-%m-%d").timestamp()) / 3600 / 24)

Replaces `lastActivityDate` with `daysSinceActivity`: an `integer` representing the amount of ellapsed days since last activity

In [14]:
def fillAvg(c_name: str, df1: pd.DataFrame, df2: pd.DataFrame):
    mean = (df1[c_name].mean(skipna=True) * df1.shape[0] + df2[c_name].mean(skipna=True) * df2.shape[0]) / (df1.shape[0] + df2.shape[0])
    df1[c_name] = df1[c_name].fillna(mean)
    df2[c_name] = df2[c_name].fillna(mean)

In [15]:
tf['daysSinceActivity'] = tf['lastActivityDate'].apply(timeStringToDelta)
rf['daysSinceActivity'] = rf['lastActivityDate'].apply(timeStringToDelta)

# normalizess the new column
minV = min(tf['daysSinceActivity'].min(), rf['daysSinceActivity'].min())
maxV = max(tf['daysSinceActivity'].max(), rf['daysSinceActivity'].max())

tf['daysSinceActivity'] = tf['daysSinceActivity'].apply(lambda e: (e - minV) / (maxV - minV))
rf['daysSinceActivity'] = rf['daysSinceActivity'].apply(lambda e: (e - minV) / (maxV - minV))

# replaces Nan by the avg
fillAvg('daysSinceActivity', tf, rf)

# removes the extra column
tf = tf.drop(columns=['lastActivityDate'])
rf = rf.drop(columns=['lastActivityDate'])

Replaces `age` with a normalized column

In [16]:
# normalizess the new column
minV = min(tf['age'].min(), rf['age'].min())
maxV = max(tf['age'].max(), rf['age'].max())

tf['age'] = tf['age'].apply(lambda e: (e - minV) / (maxV - minV))
rf['age'] = rf['age'].apply(lambda e: (e - minV) / (maxV - minV))

# replaces Nan by the avg
fillAvg('age', tf, rf)

The possible values for `numberChildren` are `'1'`, `'2'`, `'3'`, `'4'`, `'4+'` and `'NaN'`. We will be creating a column `nbChildren` of type `int` where `'NaN'` will be mapped to `None`.

In [17]:
def childrenMagik(children: str) -> float:
    if children == '0': return 0
    if children == '1': return 1 / 5
    if children == '2': return 2 / 5
    if children == '3': return 3 / 5
    if children == '4': return 4 / 5
    if children == '4+': return 1
    return None

tf['nbChildren'] = tf['numberChildren'].apply(childrenMagik)
rf['nbChildren'] = rf['numberChildren'].apply(childrenMagik)

# Replacing nan with the avg
fillAvg('nbChildren', tf, rf)

tf = tf.drop(columns=['numberChildren'])
rf = rf.drop(columns=['numberChildren'])

Replaces `F` with `1` and `M` with `-1` in the `gender` column

In [18]:
tf['gender'] = tf['gender'].apply(lambda e: 1.0 if e == "F" else 0.0)
rf['gender'] = rf['gender'].apply(lambda e: 1.0 if e == "F" else 0.0)

Changes `ecoInterest` replacing `High`, `Medium`, `Low`, `Very high` with a scale going from `0` to `1`. We the replace `nan` with the avg.

In [19]:
def textScaleToFloat(s:str) -> float:
    if s == 'Very high': return 1
    if s == 'High': return 2 / 3
    if s == 'Medium': return 1 / 3
    if s == 'Low': return 0
    return None

# replaces the 'normal' values with floats
tf['ecoInterest'] = tf['ecoInterest'].apply(textScaleToFloat)
rf['ecoInterest'] = rf['ecoInterest'].apply(textScaleToFloat)

# replaces the nan with the avg
fillAvg('ecoInterest', tf, rf)

Changes `scentLover` replacing `NonUser`, `Low`, `Medium`, `High` with a scale going from 0 to 1. We the replace `nan` with the avg.

In [20]:
def textScaleToFloat(s:str) -> float:
    if s == 'High': return 1
    if s == 'Medium': return 2 / 3
    if s == 'Low': return 1 / 3
    if s == 'NonUser': return 0
    return None

# replaces the 'normal' values with floats
tf['scentLover'] = tf['scentLover'].apply(textScaleToFloat)
rf['scentLover'] = rf['scentLover'].apply(textScaleToFloat)

# replaces the nan with the avg
fillAvg('scentLover', tf, rf)

Handles the closest shop

In [21]:
def shops(df):
    df['magasin']           = df['closestShop'].apply(lambda e: 1.0 if e =='1. Magasin de Proximit�' else 0.0)
    df['moyenneSurface']    = df['closestShop'].apply(lambda e: 1.0 if e =='2. Moyenne Surface' else 0.0)
    df['superMarket']       = df['closestShop'].apply(lambda e: 1.0 if e =='3. SuperMarket' else 0.0)
    df['hyperMarket']       = df['closestShop'].apply(lambda e: 1.0 if e =='4. HyperMarket' else 0.0)
    df['drive']             = df['closestShop'].apply(lambda e: 1.0 if e =='5. Drive' else 0.0)
    df['hardDiscount']      = df['closestShop'].apply(lambda e: 1.0 if e =='6. Hard Discounter' else 0.0)

shops(tf)
shops(rf)

tf = tf.drop(columns=['closestShop'])
rf = rf.drop(columns=['closestShop'])

In [22]:
labels = tf.pop('washDishes')
tf['labels'] = labels

tf

,userId,age,gender,scentLover,ecoInterest,closestShop,MrPropre,Antikal,Ariel,Dash,...,hasPet,daysSinceActivity,nbChildren,magasin,moyenneSurface,superMarket,hyperMarket,drive,hardDiscount,labels
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,0.077922,1.0,0.000000,0.387677,NaN,0.0,0.0,0.0,0.0,...,1.0,0.234694,0.2,0.0,0.0,0.0,0.0,0.0,0.0,1
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,0.636364,1.0,0.380207,0.666667,NaN,1.0,1.0,1.0,0.0,...,0.0,0.014914,0.6,0.0,0.0,0.0,0.0,0.0,0.0,1
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,0.350649,1.0,0.000000,0.666667,NaN,0.0,0.0,1.0,1.0,...,1.0,0.094976,0.2,0.0,0.0,0.0,0.0,0.0,0.0,1
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,0.220779,1.0,0.333333,0.333333,NaN,0.0,0.0,1.0,1.0,...,1.0,0.259812,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,0.259740,1.0,0.380207,0.000000,NaN,1.0,1.0,1.0,1.0,...,1.0,0.116954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,0.454545,1.0,0.380207,0.387677,NaN,0.0,0.0,0.0,0.0,...,1.0,0.000785,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,0.324675,1.0,0.333333,0.333333,NaN,0.0,0.0,0.0,0.0,...,1.0,0.124019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,0.311688,1.0,0.380207,0.666667,NaN,0.0,0.0,0.0,0.0,...,1.0,0.018838,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,0.272727,0.0,0.380207,0.387677,NaN,0.0,0.0,0.0,0.0,...,1.0,0.197017,0.2,0.0,0.0,0.0,0.0,0.0,0.0,1
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,0.181818,1.0,0.000000,0.666667,3. SuperMarket,0.0,0.0,0.0,0.0,...,1.0,0.220565,0.6,0.0,0.0,1.0,0.0,0.0,0.0,0

In [23]:
rf

,userId,age,gender,scentLover,ecoInterest,closestShop,MrPropre,Antikal,Ariel,Dash,...,likesPets,hasPet,daysSinceActivity,nbChildren,magasin,moyenneSurface,superMarket,hyperMarket,drive,hardDiscount
0,use_yFJKoOUCJ7ED8c8Xeov1TzdfpRL,0.259740,1.0,0.380207,0.666667,NaN,1.0,0.0,1.0,1.0,...,0.5,0.0,0.060440,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,use_t1WpMt2fprbjEteXNSZ1TzdyvAi,0.350649,1.0,0.380207,0.666667,NaN,0.0,0.0,1.0,0.0,...,0.9,1.0,0.145997,0.4,0.0,0.0,0.0,0.0,0.0,0.0
2,use_w9jT58WcsP3tUkPCA0A1TzgYdeE,0.116883,1.0,0.380207,0.387677,NaN,0.0,0.0,0.0,0.0,...,0.9,1.0,0.097331,0.2,0.0,0.0,0.0,0.0,0.0,0.0
3,use_onifqa3LnOsjZOhPYfN1TzdfkfA,0.623377,1.0,0.380207,0.387677,NaN,1.0,0.0,0.0,0.0,...,0.3,0.0,0.041601,0.6,0.0,0.0,0.0,0.0,0.0,0.0
4,use_KgP1NlkmR24pbU9KRwK1Tzdqm8u,0.311688,1.0,0.000000,0.333333,NaN,0.0,0.0,1.0,1.0,...,0.9,1.0,0.008634,0.4,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,use_yXWhQEP4R6vvYOeJzz61TZU7JRs,0.415584,1.0,1.000000,0.666667,NaN,0.0,0.0,1.0,1.0,...,0.9,1.0,0.008634,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3996,use_MafnxsXODJV5oVhfi1h1TzdgYQT,0.324675,1.0,0.333333,0.666667,3. SuperMarket,0.0,0.0,0.0,0.0,...,0.9,1.0,0.120094,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3997,use_Pbui34WhFhPjNeX6TEz1TzdZdVv,0.259740,1.0,1.000000,1.000000,2. Moyenne Surface,0.0,0.0,1.0,1.0,...,0.9,1.0,0.008634,0.4,0.0,1.0,0.0,0.0,0.0,0.0
3998,use_sDxhHoOEzHyrAzWSPnM1TzdYVjB,0.259740,1.0,0.333333,0.387677,NaN,1.0,1.0,1.0,1.0,...,0.3,0.0,0.209576,0.4,0.0,0.0,0.0,0.0,0.0,0.0
3999,use_cK0eXBDkaHEqmbVJLYC1TzdsXiW,0.324675,1.0,0.380207,0.333333,NaN,0.0,0.0,0.0,1.0,...,0.3,0.0,0.036892,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
tf.to_csv('./data/train.csv', index=False)
rf.to_csv('./data/test.csv', index=False)