# EI ST4

## Imports

In [24]:
import pandas as pd
from datetime import datetime
import math

In [25]:
df = pd.read_csv(r"DS_CentraleSupelec_ST42021/DS_CentraleSupelec_train.csv")

## Cleaning up the dataframe

In [26]:
df

,userId,age,gender,registrationDate,languageCode,countryCode,emailContactable,postalContactable,postalCode,numberChildren,...,detergentType,MrPropreTrier,AntikalTrier,ArielTrier,DashTrier,scentLover,petOwner,ecoInterest,closestShop,washDishes
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,2019-10-14T17:33:37Z,fr,FRA,True,True,68540,1,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,NaN,NaN,Auto
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,67,F,2017-07-25T07:00:31Z,fr,FRA,True,True,17390,3,...,Pods,Known Trier,Known Trier,Known Trier,NaN,NaN,No,High,NaN,Auto
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,45,F,2015-06-25T00:00:00Z,fr,FRA,True,True,30200,1,...,Liquid,NaN,NaN,Known Trier,Known Trier,NonUser,Yes,High,NaN,Auto
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,35,F,2018-01-31T07:24:39Z,fr,FRA,True,True,61400,2,...,Pods,NaN,NaN,Known Trier,Known Trier,Low,Yes,Medium,NaN,Hand
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,38,F,2016-01-26T11:42:17Z,fr,FRA,True,True,30620,0,...,Liquid,Known Trier,Known Trier,Known Trier,Known Trier,NaN,Yes,Low,NaN,Hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,53,F,2015-03-11T20:03:16Z,fr,FRA,True,True,77240,4+,...,Pods,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,43,F,2015-10-10T19:16:19Z,fr,FRA,True,True,45120,0,...,Liquid,NaN,NaN,NaN,NaN,Low,Yes,Medium,NaN,Hand
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,42,F,2015-05-08T02:59:34Z,fr,FRA,True,True,35170,3,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,High,NaN,Hand
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,39,M,2019-05-20T11:59:02Z,fr,FRA,True,True,45160,1,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,2017-03-05T12:42:26Z,FR,FRA,True,True,37600,3,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,High,3. SuperMarket,Hand

Get unique count for each variable

In [27]:
df.nunique()

userId               12000
age                     74
gender                   2
registrationDate      9875
languageCode             2
countryCode              1
emailContactable         2
postalContactable        2
postalCode            3794
numberChildren          10
lastActivityDate     12000
reactivationValue        5
toothBrushType           2
detergentType           10
MrPropreTrier            1
AntikalTrier             1
ArielTrier               1
DashTrier                1
scentLover               4
petOwner                 9
ecoInterest              4
closestShop              6
washDishes               2
dtype: int64

Check variable data type

In [28]:
df.dtypes

userId               object
age                   int64
gender               object
registrationDate     object
languageCode         object
countryCode          object
emailContactable       bool
postalContactable      bool
postalCode           object
numberChildren       object
lastActivityDate     object
reactivationValue    object
toothBrushType       object
detergentType        object
MrPropreTrier        object
AntikalTrier         object
ArielTrier           object
DashTrier            object
scentLover           object
petOwner             object
ecoInterest          object
closestShop          object
washDishes           object
dtype: object

We can remove the `languageCode` and `countryCode` column as they are constant

In [29]:
df[~df.languageCode.isin(['fr', 'FR'])].empty and df[~df.countryCode.eq('FRA')].empty

True

In [30]:
df = df.drop(columns=['languageCode', 'countryCode'])

We will also remove the `registrationDate`, `reactivationValue`, `emailContactable` and `postalContactable` as they are irrelevant

In [31]:
df = df.drop(columns=['registrationDate', 'reactivationValue', 'emailContactable', 'postalContactable'])

We are going to replace the `washDishes` `STRING` column with a `ownsDishwasher` `INT` column

In [32]:
df['ownsDishwasher'] = df.apply(lambda row: 1 if row['washDishes'] == 'Auto' else -1, axis=1)
df = df.drop(columns=["washDishes"])

In the `MrPropreTrier`, `AntikalTrier`, `ArielTrier`, `DashTrier` we will replace `Known Trier` with `1` and `Nan` with `-1`

In [33]:
for c in ['MrPropreTrier', 'AntikalTrier', 'ArielTrier', 'DashTrier']:
    df[c[:-5]] = df.apply(lambda row: 1 if row[c] == 'Known Trier' else -1, axis=1)
    df = df.drop(columns=[c])

We will replace `detergentType` by `liquidDetergent`

In [34]:
df['liquidDetergent'] = df.apply(lambda row: 1 if row['detergentType'] == 'Liquid' else -1, axis=1)
df = df.drop(columns=['detergentType'])

Replacing `toothBrushType` with `electricToothbrush`

In [35]:
df['electricToothbrush'] = df.apply(lambda row: 1 if row['toothBrushType'] == 'Electric' else -1, axis=1)
df = df.drop(columns=['toothBrushType'])

Replacing `petOwner` with `hasPet`, if the first 3 characters are 'Yes' or 'Oui' the value is `1`, else it is `-1`

In [36]:
df['hasPet'] = df.apply(lambda row: 1 if row['petOwner'][:3] == 'Yes' or row['petOwner'][:3] == 'Oui' else -1, axis=1)
df = df.drop(columns=['petOwner'])

Transforms a `ISO 8601` time string to the amount of days since the time string

In [37]:
def timeStringToDelta(timeString: str) -> int:
    return int((datetime.utcnow().timestamp() - datetime.strptime(timeString[:10], "%Y-%m-%d").timestamp()) / 3600 / 24)

Replaces `lastActivityDate` with `daysSinceActivity`: an `integer` representing the amount of ellapsed days since last activity

In [38]:
df['daysSinceActivity'] = df.apply(lambda row: timeStringToDelta(row['lastActivityDate']), axis=1)
df = df.drop(columns=['lastActivityDate'])

In [39]:
df

,userId,age,gender,postalCode,numberChildren,scentLover,ecoInterest,closestShop,ownsDishwasher,MrPropre,Antikal,Ariel,Dash,liquidDetergent,electricToothbrush,hasPet,daysSinceActivity
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,1,NonUser,NaN,NaN,1,-1,-1,-1,-1,1,-1,1,308
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,67,F,17390,3,NaN,High,NaN,1,1,1,1,-1,-1,-1,-1,28
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,45,F,30200,1,NonUser,High,NaN,1,-1,-1,1,1,1,-1,1,130
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,35,F,61400,2,Low,Medium,NaN,-1,-1,-1,1,1,-1,-1,1,340
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,38,F,30620,0,NaN,Low,NaN,-1,1,1,1,1,1,1,1,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,53,F,77240,4+,NaN,NaN,NaN,1,-1,-1,-1,-1,-1,-1,1,10
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,43,F,45120,0,Low,Medium,NaN,-1,-1,-1,-1,-1,1,1,1,167
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,42,F,35170,3,NaN,High,NaN,-1,-1,-1,-1,-1,1,-1,1,33
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,39,M,45160,1,NaN,NaN,NaN,1,-1,-1,-1,-1,1,1,1,260
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,3,NonUser,High,3. SuperMarket,-1,-1,-1,-1,-1,1,1,1,290

The possible values for `numberChildren` are `'1'`, `'2'`, `'3'`, `'4'`, `'4+'` and `'NaN'`. We will be creating a column `nbChildren` of type `int` where `'NaN'` will be mapped to `None`.

In [40]:
def childrenMagik(children: str):
    if str(children).lower() in 'nan': return None
    if children == '4+': return 5
    return int(children)

df['nbChildren'] = df.apply(lambda row: childrenMagik(row['numberChildren']), axis=1)
df = df.drop(columns=['numberChildren'])

In [41]:
df

,userId,age,gender,postalCode,scentLover,ecoInterest,closestShop,ownsDishwasher,MrPropre,Antikal,Ariel,Dash,liquidDetergent,electricToothbrush,hasPet,daysSinceActivity,nbChildren
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,NonUser,NaN,NaN,1,-1,-1,-1,-1,1,-1,1,308,1.0
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,67,F,17390,NaN,High,NaN,1,1,1,1,-1,-1,-1,-1,28,3.0
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,45,F,30200,NonUser,High,NaN,1,-1,-1,1,1,1,-1,1,130,1.0
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,35,F,61400,Low,Medium,NaN,-1,-1,-1,1,1,-1,-1,1,340,2.0
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,38,F,30620,NaN,Low,NaN,-1,1,1,1,1,1,1,1,158,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,53,F,77240,NaN,NaN,NaN,1,-1,-1,-1,-1,-1,-1,1,10,5.0
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,43,F,45120,Low,Medium,NaN,-1,-1,-1,-1,-1,1,1,1,167,0.0
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,42,F,35170,NaN,High,NaN,-1,-1,-1,-1,-1,1,-1,1,33,3.0
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,39,M,45160,NaN,NaN,NaN,1,-1,-1,-1,-1,1,1,1,260,1.0
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,NonUser,High,3. SuperMarket,-1,-1,-1,-1,-1,1,1,1,290,3.0

In [42]:
df['nbChildren'].mean()

1.3804149665769598

In [43]:
1.3804149665769598

1.3804149665769598

In order to have more information about customers, we are going to add features, using the data set "consumer actions"

In [44]:
df_consumer_actions = pd.read_csv(r"DS_CentraleSupelec_ST42021/DS_CentraleSupelec_consumeractions.csv")

In [45]:
df_consumer_actions

,userId,event,originalTimestamp,brandName,brandName2,subjectLine,url,keyword,couponRedemptionDate
0,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Product Reviewed,2021-05-13 22:57:44.182000+00:00,Fairy PEPS Platinum+ Tout-en-1,NaN,Fairy PEPS Platinum+ Tout-en-1 | Envie de Plus,https://www.enviedeplus.com/marques/fairy/fair...,NaN,NaN
1,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Clicked,2021-05-06 20:36:14+00:00,NaN,NaN,Lenor vous fait une fleur <%${user['FirstName'...,https://www.enviedeplus.com/50-euros-chez-truf...,NaN,NaN
2,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Opened,2020-09-17 19:35:13+00:00,NaN,NaN,Ariel Pods x Whirlpool = üíù,NaN,NaN,NaN
3,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Opened,2020-10-23 06:18:35+00:00,NaN,NaN,"Bye-bye la grisaille, bonjour la couleur üçÇ",NaN,NaN,NaN
4,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Opened,2021-05-10 19:50:41+00:00,NaN,NaN,Il faut qu‚Äôon parle <%${user['FirstName']}%>,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1172500,use_sLe3AqB7h7jlypX6JmC1TzdphFJ,Email Opened,2020-12-01 12:19:38+00:00,NaN,NaN,Jusqu'√† 85 ‚Ç¨ de r√©ductions* avec les Jours en ...,NaN,NaN,NaN
1172501,use_fLS7y8W7sAXSCohYlWi1TzdXPjQ,Email Opened,2020-08-04 07:46:36+00:00,NaN,NaN,Envie de... faire une bonne action ? ü§≤,NaN,NaN,NaN
1172502,use_YyWKhnJXM3bUmsc66TA1TzdcFXm,Email Opened,2020-11-05 15:49:48+00:00,NaN,NaN,Votre surprise pour une peau nette üéÅ,NaN,NaN,NaN
1172503,use_8th6Vk4n1QZDcXwBfU41TzdfDDF,Email Opened,2020-12-04 10:02:03+00:00,NaN,NaN,üñ§ Profitez de vos marques pr√©f√©r√©es avec le Bl...,NaN,NaN,NaN
1172504,use_7IOHjF4piNqadzKbaZ41TzeNx4r,Email Opened,2020-12-08 07:18:25+00:00,NaN,NaN,Top d√©part pour remporter l‚Äôun de nos 100 coff...,NaN,NaN,NaN

In [46]:
df_merged = pd.merge(df,df_consumer_actions)
df_merged

,userId,age,gender,postalCode,scentLover,ecoInterest,closestShop,ownsDishwasher,MrPropre,Antikal,...,daysSinceActivity,nbChildren,event,originalTimestamp,brandName,brandName2,subjectLine,url,keyword,couponRedemptionDate
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,NonUser,NaN,NaN,1,-1,-1,...,308,1.0,Email Opened,2020-12-11 06:44:47+00:00,NaN,NaN,Des cadeaux parfaits pour les f√™tes de fin d'a...,NaN,NaN,NaN
1,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,NonUser,NaN,NaN,1,-1,-1,...,308,1.0,Email Opened,2020-11-19 20:20:43+00:00,NaN,NaN,"Avec Ariel, je prends soin de la sant√© de mon ...",NaN,NaN,NaN
2,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,NonUser,NaN,NaN,1,-1,-1,...,308,1.0,Request Coupon Add To Basket,2020-08-04 09:22:28.242000+00:00,Febreze,NaN,NaN,www.enviedeplus.com/page/basket/coupons/print/...,NaN,NaN
3,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,NonUser,NaN,NaN,1,-1,-1,...,308,1.0,Request Coupon Add To Basket,2020-08-04 09:22:13.396000+00:00,Head & Shoulders,NaN,NaN,www.enviedeplus.com/page/basket/coupons/print/...,NaN,NaN
4,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,68540,NonUser,NaN,NaN,1,-1,-1,...,308,1.0,Email Opened,2020-12-10 23:32:03+00:00,NaN,NaN,Des cadeaux parfaits pour les f√™tes de fin d'a...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888155,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,NonUser,High,3. SuperMarket,-1,-1,-1,...,290,3.0,Email Opened,2021-02-10 15:57:43+00:00,NaN,NaN,"<%InsertIf expression=""${((((empty user['First...",NaN,NaN,NaN
888156,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,NonUser,High,3. SuperMarket,-1,-1,-1,...,290,3.0,Email Opened,2020-12-11 07:58:05+00:00,NaN,NaN,Des cadeaux parfaits pour les f√™tes de fin d'a...,NaN,NaN,NaN
888157,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,NonUser,High,3. SuperMarket,-1,-1,-1,...,290,3.0,Email Opened,2020-12-11 08:42:58+00:00,NaN,NaN,Des cadeaux parfaits pour les f√™tes de fin d'a...,NaN,NaN,NaN
888158,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,NonUser,High,3. SuperMarket,-1,-1,-1,...,290,3.0,Email Opened,2020-06-05 14:03:06+00:00,NaN,NaN,Optez pour le confort et la s√©curit√© avec Tampax.,NaN,NaN,NaN
888159,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,37600,NonUser,High,3. SuperMarket,-1,-1,-1,...,290,3.0,Email Opened,2020-10-14 07:43:23+00:00,NaN,NaN,"Amazon Prime Day, vos marques prÔøΩfÔøΩrÔøΩes ÔøΩ peti...",NaN,NaN,NaN