# EI ST4

## Imports

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"DS_CentraleSupelec_ST42021/DS_CentraleSupelec_train.csv")

## Cleaning up the dataframe

In [3]:
df

,userId,age,gender,registrationDate,languageCode,countryCode,emailContactable,postalContactable,postalCode,numberChildren,...,detergentType,MrPropreTrier,AntikalTrier,ArielTrier,DashTrier,scentLover,petOwner,ecoInterest,closestShop,washDishes
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,2019-10-14T17:33:37Z,fr,FRA,True,True,68540,1,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,NaN,NaN,Auto
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,67,F,2017-07-25T07:00:31Z,fr,FRA,True,True,17390,3,...,Pods,Known Trier,Known Trier,Known Trier,NaN,NaN,No,High,NaN,Auto
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,45,F,2015-06-25T00:00:00Z,fr,FRA,True,True,30200,1,...,Liquid,NaN,NaN,Known Trier,Known Trier,NonUser,Yes,High,NaN,Auto
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,35,F,2018-01-31T07:24:39Z,fr,FRA,True,True,61400,2,...,Pods,NaN,NaN,Known Trier,Known Trier,Low,Yes,Medium,NaN,Hand
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,38,F,2016-01-26T11:42:17Z,fr,FRA,True,True,30620,0,...,Liquid,Known Trier,Known Trier,Known Trier,Known Trier,NaN,Yes,Low,NaN,Hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,53,F,2015-03-11T20:03:16Z,fr,FRA,True,True,77240,4+,...,Pods,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,43,F,2015-10-10T19:16:19Z,fr,FRA,True,True,45120,0,...,Liquid,NaN,NaN,NaN,NaN,Low,Yes,Medium,NaN,Hand
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,42,F,2015-05-08T02:59:34Z,fr,FRA,True,True,35170,3,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,High,NaN,Hand
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,39,M,2019-05-20T11:59:02Z,fr,FRA,True,True,45160,1,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,2017-03-05T12:42:26Z,FR,FRA,True,True,37600,3,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,High,3. SuperMarket,Hand

We can remove the `languageCode` and `countryCode` column as they are constant

In [4]:
df[~df.languageCode.isin(['fr', 'FR'])].empty and df[~df.countryCode.eq('FRA')].empty

True

In [5]:
df = df.drop(columns=['languageCode', 'countryCode'])

We will also remove the `userId`, `registrationDate`, `reactivationValue`, `emailContactable` and `postalContactable` as they are irrelevant

In [6]:
df = df.drop(columns=['userId', 'registrationDate', 'reactivationValue', 'emailContactable', 'postalContactable'])

We are going to replace the `washDishes` `STRING` column with a `ownsDishwasher` `INT` column

In [7]:
df['ownsDishwasher'] = df.apply(lambda row: 1 if row['washDishes'] == 'Auto' else 0, axis=1)
df = df.drop(columns=["washDishes"])

In the `MrPropreTrier`, `AntikalTrier`, `ArielTrier`, `DashTrier` we will replace `Known Trier` with `1` and `Nan` with `0`

In [9]:
for c in ['MrPropreTrier', 'AntikalTrier', 'ArielTrier', 'DashTrier']:
    df[c[:-5]] = df.apply(lambda row: 1 if row[c] == 'Known Trier' else 0, axis=1)
    df = df.drop(columns=[c])

We will replace `detergentType` by `liquidDetergent`

In [13]:
df['liquidDetergent'] = df.apply(lambda row: 1 if row['detergentType'] == 'Liquid' else 0, axis=1)
df = df.drop(columns=['detergentType'])

Replacing `toothBrushType` with `electricToothbrush`

In [15]:
df['electricToothbrush'] = df.apply(lambda row: 1 if row['toothBrushType'] == 'Electric' else 0, axis=1)
df = df.drop(columns=['toothBrushType'])

Replacing `petOwner` with `hasPet`

In [17]:
df['hasPet'] = df.apply(lambda row: 1 if row['petOwner'] == 'Yes' else 0, axis=1)
df = df.drop(columns=['petOwner'])

In [18]:
df

,age,gender,postalCode,numberChildren,lastActivityDate,reactivationValue,scentLover,ecoInterest,closestShop,ownsDishwasher,MrPropre,Antikal,Ariel,Dash,liquidDetergent,electricToothbrush,hasPet
0,24,F,68540,1,2020-08-04T09:19:40.72668Z,Lapsing,NonUser,NaN,NaN,1,0,0,0,0,1,0,1
1,67,F,17390,3,2021-05-11T05:27:04.43326Z,Active,NaN,High,NaN,1,1,1,1,0,0,0,0
2,45,F,30200,1,2021-01-29T09:22:30.011639Z,Active,NonUser,High,NaN,1,0,0,1,1,1,0,1
3,35,F,61400,2,2020-07-03T20:36:10.177493Z,Active,Low,Medium,NaN,0,0,0,1,1,0,0,1
4,38,F,30620,0,2021-01-01T14:41:20.951078Z,Active,NaN,Low,NaN,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,53,F,77240,4+,2021-05-29T22:15:43.077863Z,Active,NaN,NaN,NaN,1,0,0,0,0,0,0,1
11996,43,F,45120,0,2020-12-23T14:01:37.947441Z,Active,Low,Medium,NaN,0,0,0,0,0,1,1,1
11997,42,F,35170,3,2021-05-06T20:18:39.453599Z,Active,NaN,High,NaN,0,0,0,0,0,1,0,1
11998,39,M,45160,1,2020-09-21T11:51:08.333752Z,Lapsed,NaN,NaN,NaN,1,0,0,0,0,1,1,1
11999,32,F,37600,3,2020-08-22T02:32:01.566798Z,Active,NonUser,High,3. SuperMarket,0,0,0,0,0,1,1,1