# EI ST4

## Imports

In [79]:
import pandas as pd
from datetime import datetime
import math

In [80]:
tf = pd.read_csv(r"../DS_CentraleSupelec_ST42021/DS_CentraleSupelec_train.csv")
rf = pd.read_csv(r"../DS_CentraleSupelec_ST42021/DS_CentraleSupelec_test.csv")

## Cleaning up the dataframe

In [81]:
tf

,userId,age,gender,registrationDate,languageCode,countryCode,emailContactable,postalContactable,postalCode,numberChildren,...,detergentType,MrPropreTrier,AntikalTrier,ArielTrier,DashTrier,scentLover,petOwner,ecoInterest,closestShop,washDishes
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,24,F,2019-10-14T17:33:37Z,fr,FRA,True,True,68540,1,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,NaN,NaN,Auto
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,67,F,2017-07-25T07:00:31Z,fr,FRA,True,True,17390,3,...,Pods,Known Trier,Known Trier,Known Trier,NaN,NaN,No,High,NaN,Auto
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,45,F,2015-06-25T00:00:00Z,fr,FRA,True,True,30200,1,...,Liquid,NaN,NaN,Known Trier,Known Trier,NonUser,Yes,High,NaN,Auto
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,35,F,2018-01-31T07:24:39Z,fr,FRA,True,True,61400,2,...,Pods,NaN,NaN,Known Trier,Known Trier,Low,Yes,Medium,NaN,Hand
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,38,F,2016-01-26T11:42:17Z,fr,FRA,True,True,30620,0,...,Liquid,Known Trier,Known Trier,Known Trier,Known Trier,NaN,Yes,Low,NaN,Hand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,53,F,2015-03-11T20:03:16Z,fr,FRA,True,True,77240,4+,...,Pods,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,43,F,2015-10-10T19:16:19Z,fr,FRA,True,True,45120,0,...,Liquid,NaN,NaN,NaN,NaN,Low,Yes,Medium,NaN,Hand
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,42,F,2015-05-08T02:59:34Z,fr,FRA,True,True,35170,3,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,High,NaN,Hand
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,39,M,2019-05-20T11:59:02Z,fr,FRA,True,True,45160,1,...,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Auto
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,32,F,2017-03-05T12:42:26Z,FR,FRA,True,True,37600,3,...,Liquid,NaN,NaN,NaN,NaN,NonUser,Yes,High,3. SuperMarket,Hand

In [82]:
rf

,userId,age,gender,registrationDate,languageCode,countryCode,emailContactable,postalContactable,postalCode,numberChildren,...,toothBrushType,detergentType,MrPropreTrier,AntikalTrier,ArielTrier,DashTrier,scentLover,petOwner,ecoInterest,closestShop
0,use_yFJKoOUCJ7ED8c8Xeov1TzdfpRL,38,F,2017-10-05T08:03:06Z,fr,FRA,True,True,59640,4+,...,Manual,Liquid,Known Trier,NaN,Known Trier,Known Trier,NaN,No - maybe future,High,NaN
1,use_t1WpMt2fprbjEteXNSZ1TzdyvAi,45,F,2017-11-16T15:45:53Z,fr,FRA,True,True,67110,2,...,Manual,Liquid,NaN,NaN,Known Trier,NaN,NaN,Yes,High,NaN
2,use_w9jT58WcsP3tUkPCA0A1TzgYdeE,27,F,2013-05-31T00:00:00Z,fr,FRA,False,True,62700,1,...,Manual,Liquid,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
3,use_onifqa3LnOsjZOhPYfN1TzdfkfA,66,F,2016-08-31T05:48:51Z,fr,FRA,True,True,85130,3,...,Manual,Liquid,Known Trier,NaN,NaN,NaN,NaN,No,NaN,NaN
4,use_KgP1NlkmR24pbU9KRwK1Tzdqm8u,42,F,2017-09-01T13:14:54Z,fr,FRA,True,True,44460,2,...,Manual,Pods,NaN,NaN,Known Trier,Known Trier,NonUser,Yes,Medium,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,use_yXWhQEP4R6vvYOeJzz61TZU7JRs,50,F,2006-02-06T00:00:00Z,fr,FRA,True,True,59000,0,...,Manual,NaN,NaN,NaN,Known Trier,Known Trier,High,Yes,High,NaN
3996,use_MafnxsXODJV5oVhfi1h1TzdgYQT,43,F,2008-03-10T00:00:00Z,fr,FRA,True,True,80090,0,...,Electric,Pods,NaN,NaN,NaN,NaN,Low,Yes,High,3. SuperMarket
3997,use_Pbui34WhFhPjNeX6TEz1TzdZdVv,38,F,2019-04-19T14:18:48Z,fr,FRA,True,True,51200,2,...,Manual,Pods,NaN,NaN,Known Trier,Known Trier,High,Yes,Very high,2. Moyenne Surface
3998,use_sDxhHoOEzHyrAzWSPnM1TzdYVjB,38,F,2015-10-02T00:08:39Z,fr,FRA,True,True,29200,2,...,Electric,Liquid,Known Trier,Known Trier,Known Trier,Known Trier,Low,No,NaN,NaN
3999,use_cK0eXBDkaHEqmbVJLYC1TzdsXiW,43,F,2007-12-31T00:00:00Z,fr,FRA,True,False,67800,0,...,Manual,Powder,NaN,NaN,NaN,Known Trier,NaN,No,Medium,NaN

We can remove the `languageCode` and `countryCode` column as they are constant

In [83]:
tf[~tf.languageCode.isin(['fr', 'FR'])].empty and tf[~tf.countryCode.eq('FRA')].empty

True

In [84]:
tf = tf.drop(columns=['languageCode', 'countryCode'])
rf = rf.drop(columns=['languageCode', 'countryCode'])

We will also remove the `registrationDate`, `reactivationValue`, `emailContactable` and `postalContactable` as they are irrelevant. `postalCode` as it will be to hard to analyse.

In [85]:
tf = tf.drop(columns=['registrationDate', 'reactivationValue', 'emailContactable', 'postalContactable', 'postalCode'])
rf = rf.drop(columns=['registrationDate', 'reactivationValue', 'emailContactable', 'postalContactable', 'postalCode'])

We are going to replace the `washDishes` `STRING` column with an `INT` column

In [86]:
tf["washDishes"] = tf["washDishes"].apply(lambda e: 1 if e == 'Auto' else 0)

In the `MrPropreTrier`, `AntikalTrier`, `ArielTrier`, `DashTrier` we will replace `Known Trier` with `1` and `Nan` with `-1`

In [87]:
for c in ['MrPropreTrier', 'AntikalTrier', 'ArielTrier', 'DashTrier']:
    tf[c[:-5]] = tf.apply(lambda row: 1.0 if row[c] == 'Known Trier' else 0.0, axis=1)
    tf = tf.drop(columns=[c])

    rf[c[:-5]] = rf.apply(lambda row: 1.0 if row[c] == 'Known Trier' else 0.0, axis=1)
    rf = rf.drop(columns=[c])

We will replace `detergentType` by `liquid`, `pods` and `powder`

In [88]:
# pods
tf['pods'] = tf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Pods' in e else 0.0)
rf['pods'] = rf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Pods' in e else 0.0)

# powder
tf['powder'] = tf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Powder' in e else 0.0)
rf['powder'] = rf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Powder' in e else 0.0)

# liquid
tf['liquid'] = tf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Liquid' in e else 0.0)
rf['liquid'] = rf['detergentType'].apply(lambda e: 1.0 if pd.notna(e) and 'Liquid' in e else 0.0)

# removes extra column
tf = tf.drop(columns=['detergentType']) 
rf = rf.drop(columns=['detergentType'])

Replacing `toothBrushType` with `electricToothbrush`

In [89]:
tf['electricToothbrush'] = tf['toothBrushType'].apply(lambda e: 1.0 if e == 'Electric' else 0.0)
rf['electricToothbrush'] = rf['toothBrushType'].apply(lambda e: 1.0 if e == 'Electric' else 0.0)

tf = tf.drop(columns=['toothBrushType'])
rf = rf.drop(columns=['toothBrushType'])

Replacing `petOwner` with `hasPet`, if the first 3 characters are 'Yes' or 'Oui' the value is `1`, else it is `-1`

In [90]:
def likesPets(s:str) -> float:
    if s in ['Yes, we love our furry friends', "Oui, j'adore nos petites boules de poils !"]: 
        return 1

    if s in ['Yes']: 
        return 0.9

    if s in ["Non, j'aime les animaux, mais je n'en ai pas pour le moment.", 'No, we love animals but no pets here for now']:   
        return 0.8
    
    if s in ['No - maybe future']:
        return 0.5

    if s in ['No']:
        return 0.3

    if s in ['Des animaux dans la maison ? Non merci !', "No, we'd never have pets in the house"]:
        return 0
    return 0.3

# creating a new column for animal lovers
tf['likesPets'] = tf['petOwner'].apply(likesPets)
rf['likesPets'] = rf['petOwner'].apply(likesPets)

# creating a new column for pet owners
tf['hasPet'] = tf['petOwner'].apply(lambda e: 1.0 if str(e)[:3] == 'Yes' or str(e)[:3] == 'Oui' else 0.0)
rf['hasPet'] = rf['petOwner'].apply(lambda e: 1.0 if str(e)[:3] == 'Yes' or str(e)[:3] == 'Oui' else 0.0)

tf = tf.drop(columns=['petOwner'])
rf = rf.drop(columns=['petOwner'])

Transforms a `ISO 8601` time string to the amount of days since the time string

In [91]:
def timeStringToDelta(timeString: str) -> int:
    if pd.isna(timeString): return None
    return int((datetime.utcnow().timestamp() - datetime.strptime(timeString[:10], "%Y-%m-%d").timestamp()) / 3600 / 24)

Replaces `lastActivityDate` with `daysSinceActivity`: an `integer` representing the amount of ellapsed days since last activity

In [92]:
def fillAvg(c_name: str, df1: pd.DataFrame, df2: pd.DataFrame):
    mean = (df1[c_name].mean(skipna=True) * df1.shape[0] + df2[c_name].mean(skipna=True) * df2.shape[0]) / (df1.shape[0] + df2.shape[0])
    df1[c_name] = df1[c_name].fillna(mean)
    df2[c_name] = df2[c_name].fillna(mean)

In [93]:
tf['daysSinceActivity'] = tf['lastActivityDate'].apply(timeStringToDelta)
rf['daysSinceActivity'] = rf['lastActivityDate'].apply(timeStringToDelta)

# normalizess the new column
minV = min(tf['daysSinceActivity'].min(), rf['daysSinceActivity'].min())
maxV = max(tf['daysSinceActivity'].max(), rf['daysSinceActivity'].max())

tf['daysSinceActivity'] = tf['daysSinceActivity'].apply(lambda e: (e - minV) / (maxV - minV))
rf['daysSinceActivity'] = rf['daysSinceActivity'].apply(lambda e: (e - minV) / (maxV - minV))

# replaces Nan by the avg
fillAvg('daysSinceActivity', tf, rf)

# removes the extra column
tf = tf.drop(columns=['lastActivityDate'])
rf = rf.drop(columns=['lastActivityDate'])

Replaces `age` with a normalized column

In [94]:
# normalizess the new column
minV = min(tf['age'].min(), rf['age'].min())
maxV = max(tf['age'].max(), rf['age'].max())

tf['age'] = tf['age'].apply(lambda e: (e - minV) / (maxV - minV))
rf['age'] = rf['age'].apply(lambda e: (e - minV) / (maxV - minV))

# replaces Nan by the avg
fillAvg('age', tf, rf)

The possible values for `numberChildren` are `'1'`, `'2'`, `'3'`, `'4'`, `'4+'` and `'NaN'`. We will be creating a column `nbChildren` of type `int` where `'NaN'` will be mapped to `None`.

In [95]:
def childrenMagik(children: str) -> float:
    if children == '0': return 0
    if children == '1': return 1 / 5
    if children == '2': return 2 / 5
    if children == '3': return 3 / 5
    if children == '4': return 4 / 5
    if children == '4+': return 1
    return None

tf['nbChildren'] = tf['numberChildren'].apply(childrenMagik)
rf['nbChildren'] = rf['numberChildren'].apply(childrenMagik)

# Replacing nan with the avg
fillAvg('nbChildren', tf, rf)

tf = tf.drop(columns=['numberChildren'])
rf = rf.drop(columns=['numberChildren'])

Replaces `F` with `1` and `M` with `-1` in the `gender` column

In [96]:
tf['gender'] = tf['gender'].apply(lambda e: 1.0 if e == "F" else 0.0)
rf['gender'] = rf['gender'].apply(lambda e: 1.0 if e == "F" else 0.0)

Changes `ecoInterest` replacing `High`, `Medium`, `Low`, `Very high` with a scale going from `0` to `1`. We the replace `nan` with the avg.

In [97]:
def textScaleToFloat(s:str) -> float:
    if s == 'Very high': return 1
    if s == 'High': return 2 / 3
    if s == 'Medium': return 1 / 3
    if s == 'Low': return 0
    return None

# replaces the 'normal' values with floats
tf['ecoInterest'] = tf['ecoInterest'].apply(textScaleToFloat)
rf['ecoInterest'] = rf['ecoInterest'].apply(textScaleToFloat)

# replaces the nan with the avg
fillAvg('ecoInterest', tf, rf)

Changes `scentLover` replacing `NonUser`, `Low`, `Medium`, `High` with a scale going from 0 to 1. We the replace `nan` with the avg.

In [98]:
def textScaleToFloat(s:str) -> float:
    if s == 'High': return 1
    if s == 'Medium': return 2 / 3
    if s == 'Low': return 1 / 3
    if s == 'NonUser': return 0
    return None

# replaces the 'normal' values with floats
tf['scentLover'] = tf['scentLover'].apply(textScaleToFloat)
rf['scentLover'] = rf['scentLover'].apply(textScaleToFloat)

# replaces the nan with the avg
fillAvg('scentLover', tf, rf)

Handles the closest shop

In [99]:
def shops(df):
    df['magasin']           = df['closestShop'].apply(lambda e: 1.0 if e =='1. Magasin de Proximit�' else 0.0)
    df['moyenneSurface']    = df['closestShop'].apply(lambda e: 1.0 if e =='2. Moyenne Surface' else 0.0)
    df['superMarket']       = df['closestShop'].apply(lambda e: 1.0 if e =='3. SuperMarket' else 0.0)
    df['hyperMarket']       = df['closestShop'].apply(lambda e: 1.0 if e =='4. HyperMarket' else 0.0)
    df['drive']             = df['closestShop'].apply(lambda e: 1.0 if e =='5. Drive' else 0.0)
    df['hardDiscount']      = df['closestShop'].apply(lambda e: 1.0 if e =='6. Hard Discounter' else 0.0)

shops(tf)
shops(rf)

tf = tf.drop(columns=['closestShop'])
rf = rf.drop(columns=['closestShop'])

In [100]:

tf

,userId,age,gender,scentLover,ecoInterest,washDishes,MrPropre,Antikal,Ariel,Dash,...,likesPets,hasPet,daysSinceActivity,nbChildren,magasin,moyenneSurface,superMarket,hyperMarket,drive,hardDiscount
0,use_XbA1FTDcCrTMNTHK1851TzjyPMP,0.077922,1.0,0.000000,0.387677,1,0.0,0.0,0.0,0.0,...,0.9,1.0,0.234694,0.2,0.0,0.0,0.0,0.0,0.0,0.0
1,use_3WHgsMVGSg5MHG2zja91TzdfmY2,0.636364,1.0,0.380207,0.666667,1,1.0,1.0,1.0,0.0,...,0.3,0.0,0.014914,0.6,0.0,0.0,0.0,0.0,0.0,0.0
2,use_2SisOiR8QwDaHI4svm11TzcvK7V,0.350649,1.0,0.000000,0.666667,1,0.0,0.0,1.0,1.0,...,0.9,1.0,0.094976,0.2,0.0,0.0,0.0,0.0,0.0,0.0
3,use_W0T1LmfKaQPJYD1RTWh1Tzdc69H,0.220779,1.0,0.333333,0.333333,0,0.0,0.0,1.0,1.0,...,0.9,1.0,0.259812,0.4,0.0,0.0,0.0,0.0,0.0,0.0
4,use_KwYWZ7UMl4veveOaPGK1TzddtmI,0.259740,1.0,0.380207,0.000000,0,1.0,1.0,1.0,1.0,...,0.9,1.0,0.116954,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,use_ICSyEvCcRNPpQeBdWcM1TzdczV8,0.454545,1.0,0.380207,0.387677,1,0.0,0.0,0.0,0.0,...,0.9,1.0,0.000785,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11996,use_Q5DNYeSmG7g6VeMV4n71TzeTRRz,0.324675,1.0,0.333333,0.333333,0,0.0,0.0,0.0,0.0,...,0.9,1.0,0.124019,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11997,use_rEoce5pc0MlKpndfzNj1Tze3J1L,0.311688,1.0,0.380207,0.666667,0,0.0,0.0,0.0,0.0,...,0.9,1.0,0.018838,0.6,0.0,0.0,0.0,0.0,0.0,0.0
11998,use_0AuDL2wOJHy9I16zSC21TzeHRMo,0.272727,0.0,0.380207,0.387677,1,0.0,0.0,0.0,0.0,...,0.9,1.0,0.197017,0.2,0.0,0.0,0.0,0.0,0.0,0.0
11999,use_B7F2PfU4eOKBmVc93AU1TzdqFY9,0.181818,1.0,0.000000,0.666667,0,0.0,0.0,0.0,0.0,...,0.9,1.0,0.220565,0.6,0.0,0.0,1.0,0.0,0.0,0.0

In [101]:
rf

,userId,age,gender,scentLover,ecoInterest,MrPropre,Antikal,Ariel,Dash,pods,...,likesPets,hasPet,daysSinceActivity,nbChildren,magasin,moyenneSurface,superMarket,hyperMarket,drive,hardDiscount
0,use_yFJKoOUCJ7ED8c8Xeov1TzdfpRL,0.259740,1.0,0.380207,0.666667,1.0,0.0,1.0,1.0,0.0,...,0.5,0.0,0.060440,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,use_t1WpMt2fprbjEteXNSZ1TzdyvAi,0.350649,1.0,0.380207,0.666667,0.0,0.0,1.0,0.0,0.0,...,0.9,1.0,0.145997,0.4,0.0,0.0,0.0,0.0,0.0,0.0
2,use_w9jT58WcsP3tUkPCA0A1TzgYdeE,0.116883,1.0,0.380207,0.387677,0.0,0.0,0.0,0.0,0.0,...,0.9,1.0,0.097331,0.2,0.0,0.0,0.0,0.0,0.0,0.0
3,use_onifqa3LnOsjZOhPYfN1TzdfkfA,0.623377,1.0,0.380207,0.387677,1.0,0.0,0.0,0.0,0.0,...,0.3,0.0,0.041601,0.6,0.0,0.0,0.0,0.0,0.0,0.0
4,use_KgP1NlkmR24pbU9KRwK1Tzdqm8u,0.311688,1.0,0.000000,0.333333,0.0,0.0,1.0,1.0,1.0,...,0.9,1.0,0.008634,0.4,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,use_yXWhQEP4R6vvYOeJzz61TZU7JRs,0.415584,1.0,1.000000,0.666667,0.0,0.0,1.0,1.0,0.0,...,0.9,1.0,0.008634,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3996,use_MafnxsXODJV5oVhfi1h1TzdgYQT,0.324675,1.0,0.333333,0.666667,0.0,0.0,0.0,0.0,1.0,...,0.9,1.0,0.120094,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3997,use_Pbui34WhFhPjNeX6TEz1TzdZdVv,0.259740,1.0,1.000000,1.000000,0.0,0.0,1.0,1.0,1.0,...,0.9,1.0,0.008634,0.4,0.0,1.0,0.0,0.0,0.0,0.0
3998,use_sDxhHoOEzHyrAzWSPnM1TzdYVjB,0.259740,1.0,0.333333,0.387677,1.0,1.0,1.0,1.0,0.0,...,0.3,0.0,0.209576,0.4,0.0,0.0,0.0,0.0,0.0,0.0
3999,use_cK0eXBDkaHEqmbVJLYC1TzdsXiW,0.324675,1.0,0.380207,0.333333,0.0,0.0,0.0,1.0,0.0,...,0.3,0.0,0.036892,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Using consumeractions data set

In order to have more information about customers, we are going to add features, using the data set "consumer actions"

In [102]:
#Let's get the csv consumer_actions
df_consumer_actions = pd.read_csv(r"../DS_CentraleSupelec_ST42021/DS_CentraleSupelec_consumeractions.csv")

#Let's check the possible values for 'event'
df_consumer_actions.event.unique()

array(['Product Reviewed', 'Email Clicked', 'Email Opened',
       'Request Coupon Add To Basket', 'Coupon Redemption',
       'Request Coupon Print', 'Search Site'], dtype=object)

In [103]:
df_consumer_actions.brandName.unique()

array(['Fairy PEPS Platinum+ Tout-en-1', nan, 'Ariel', 'Lenor', 'Febreze',
       'Dash 2 in 1', 'Head & Shoulders', 'Dash', 'Minor Brands',
       'Mr. Propre Gomme Magique',
       'Balai Swiffer avec lingettes sèches et humides',
       'Head&Shoulders Anti-Démangeaisons',
       'Head & Shoulders Citrus Fresh',
       'Lingettes humides Swiffer pour le sol',
       "Febreze Plaisir d'Air Fleur de Vanille",
       'Ariel Simply Fraîcheur Marseille et Aloe Vera',
       'Dash Allin1 Pods Caresse Aérienne', 'Satin Care', 'Swiffer',
       'Couches Pampers® Baby-Dry™', 'Mr Proper', 'Oral-B Power',
       'Antikal Classic Spray', 'Jolly', 'Oral-B Manual', 'Fixodent',
       'Always', 'Aussie', 'Tampax', 'Antikal', 'Herbal Essences',
       'ZzzQuil™ SOMMEIL',
       'Mr. Propre Ultra Power Liquide Multi-Surfaces',
       'Lenor 0% Colorant Aloe Vera', 'Fairy PEPS Tout-en-1 Plus',
       "Dash 2en1 Liquide La Collection Envolée d'Air",
       'Ariel Allin1 Pods Alpine', 'Febreze Textile Lenor La Collection',
       'Balai Swiffer 3D Clean', 'Pampers',
       'Febreze Petit Coin et Salle de Bains',
       'Dash Allin1 Pods La Collection Bouquet Mystère',
       'Lenor La Collection Divine Envie',
       'Baume VapoEnfant RecommandÃ© par Vicks',
       'Balai Spray Swiffer WetJet Wood', 'Febreze Textile Désinfectant',
       'Balai Swiffer', 'Always Discreet Boutique Serviettes',
       'Lenor La Collection Bouquet Mystère', 'Spray Propreté Mr Propre',
       'Always Discreet Boutique Culottes',
       'Ariel Simply Bouquet Provençal',
       "Lenor La Collection Envolée d'Air",
       "Lenor Parfum de linge - Envolée d'air Frais",
       'Couches-Culottes Pampers® Premium Protection™ Pants',
       'Always Discreet Culottes', 'Gel à raser Gillette Skinguard',
       'Always Dailies Singles to go Protège-slips',
       'Dash Allin1 Pods Caresse Provençale', 'Oral-B Sensi UltraThin',
       'Mr. Propre Collection Tradition Bicarbonate de Soude',
       'Oral-B Sensibilité & Gencives Calm Blancheur',
       'Always Discreet Boutique Culottes Taille Basse',
       "Ariel d'origine végétale",
       'Oral-B 3D White Whitening Therapy Protection Émail',
       'Ariel Poudre Original', 'Balai Spray Swiffer Wetjet',
       'Mr. Propre Ultra Power Spray Multi-Usages',
       'Always Discreet Protège-slips',
       'Fixodent Pro Professional Notre Meilleure Crème Adhésive ',
       'Fixodent Original Fixation Extra Forte', 'Ariel Professional',
       'Febreze Textile Rosée du Matin',
       'Lenor Souffle Précieux - Parfum de linge',
       'Fixodent Pro Soin neutre',
       'Venus Smooth Sensitive avec SkinElixir',
       'Oral-B Vitality Pro Timer',
       'Always Discreet Boutique Culottes Noires', 'Venus Swirl',
       'Baume VapoEnfant recommandé par Vicks',
       'Oral-B 3D White Arctic Fresh', 'Braun FaceSpa Pro',
       'Always Maxi Night serviettes hygiéniques avec ailettes',
       'Always Cotton Protection Normal Serviettes avec Ailettes',
       'Aussie Huile 3 Miracle Reconstructor', 'Lenor Caresse Provençale',
       'Lenor Caresse Aérienne', 'Lenor La Collection Coup De Foudre',
       'Plumeau Swiffer 3d Clean', 'Lingettes sèches Swiffer 3D Clean',
       'Fixodent Pro Soin confort', 'Venus Embrace',
       'Always Platinum Secure Night Serviettes Hygiéniques ',
       'Always Dailies Fresh & Protect Protège-slips',
       'Lenor 0% Colorant Fleur de Japon',
       'Couches Pampers® Premium Protection™',
       "Dash Allin1 Pods La Collection Envolée d'Air",
       'Dash 2en1 Liquide La Collection Bouquet Mystère',
       'Bion®3 Énergie Continue ', 'Aussie Aussome Volume Shampoing ',
       'Head &amp; Shoulders Intense Hydration Shampooing',
       'Lingettes Pampers® Sensitive',
       'Recharge Plumeau Swiffer 3D Clean',
       'Lenor Unstoppables Tropiques',
       'Mr. Propre Nettoyant Liquide Multi-Usages',
       'Oral-B Gencives Purify nettoyage intense',
       'Ariel Allin1 Pods+ Lenor Unstoppables Lavender',
       'Oral-B 3D White Whitening Therapy Charbon Nettoyage Intense',
       'Oral-B Répare Gencives & Émail Nettoyage en Douceur',
       'Ariel Allin1 Pods Original', 'Plumeau Swiffer Duster XXL',
       'Antikal Spray Vinaigre', 'Ariel Allin1 Pods  Ultra',
       'Plumeau Swiffer avec la fraîcheur de Febreze ',
       'Always Ultra Secure Night Serviettes Hygiéniques',
       "Herbal Essences Huile capillaire Huile d'Argan et Aloe Vera",
       'Bion®3 Défense ', 'Lenor Unstoppables Songes',
       'jolly Crème dépilatoire pour le corps',
       'Bion<sup>®</sup>3 Défense',
       'Herbal Essences pure Lait de Coco Après-Shamp.',
       'Always Ultra Normal Serviettes Hygiéniques',
       'Antikal 3en1 Salle de Bains Spray',
       'Shampooing Head & Shoulders Réparation et Soin',
       'Aussie Pure Miracle Volume Mousse Après-Shampoing',
       'Ariel Liquide Alpine', 'Ariel Liquide Febreze',
       'Febreze Lavande Au Clair De Lune Spray Désodorisant',
       'Always Ultra Long Serviettes Hygiéniques',
       'Head&Shoulders Suprême Réparation Après-shampooing',
       'Ariel Liquide Ultra', 'Couches Pampers® Harmonie™',
       'Oral-B 3D White Whitening Therapy Dents Sensibles',
       'Head&Shoulders Sensitive Shampooing Antipelliculaire 2\xa0En\xa01',
       'Tampax Cotton Protection avec applicateur',
       'Lenor La Collection Souffle Précieux',
       'Lenor Unstoppables Aérien',
       'Dash 2en1 Liquide La Collection Divine Envie',
       'Couches-Culottes Pampers® Baby-Dry™ Pants',
       'Lenor Inspiré par la Nature Lavande', 'Lenor Unstoppables Active',
       'Lenor Unstoppables - Active', 'TAMPAX Pearl Compak Tampons',
       'Ariel Liquide Original', 'Ariel Allin1 Pods+ Active',
       'Venus lames de rasoir', 'Venus ComfortGlide Breeze',
       'Ariel Allin1 Pods+ Lenor Unstoppables Air',
       'Fixodent Plus Anti-particules',
       'Febreze Textile Fruits du Soleil',
       "Herbal Essences pure Huile d'Argan du Maroc Shampooing",
       'Oral-B Sensibilité &amp; Gencives Calm Original',
       'Febreze Petit Coin et Salle de Bain',
       'jolly Bandes de cire pour le corps',
       'Ariel Allin1 Pods Fresh Sensations', 'Braun Silk-épil 9',
       'Oral-B PureActiv Soin Émail',
       "Febreze ZERO% 300ml Mandarine Brume d'Air et Textile",
       "Herbal Essences pure masque Huile d'Argan réparation",
       'Always Platinum Secure Night Serviettes Hygiéniques',
       'jolly Rasoir Turquoise', 'Ariel Allin1 Pods+ Ultra',
       'Oral-B Genius 8000 Brosse À Dents Électrique',
       'Dash Allin1 Pods Caresse Peaux Sensibles',
       'Always Platinum Normal Plus Serviettes Hygiéniques',
       'Dash 2en1 Liquide La Collection Coup de Foudre',
       'Always Dailies Cotton Protection Normal Protège-slips',
       'Ariel Liquide+ Active',
       'Venus Smooth Sensitive lames de rasoir avec SkinElixir',
       'Head &amp; Shoulders Citrus Fresh',
       'Dash Allin1 Pods La Collection Coup de Foudre',
       "Febreze ZERO% 300ml Bambou Brume d'Air et Textile",
       'Bion<sup>®</sup>3 Énergie Continue',
       'jolly Bandes de cire pour le visage', 'Oral-B Smart 4 4000',
       'Always Dailies Extra Protect Protège-slips',
       'Always Ultra Night Serviettes Hygiéniques',
       'Head&amp;Shoulders Anti-Démangeaisons', 'Plumeau Swiffer Duster',
       'Mr Propre', 'jolly Bandes de cire pour le maillot',
       'Antikal Classic Gel\t\t\t',
       "Dash 3en1 Pods La Collection Envolée d'Air",
       'Ariel Liquide Fresh Sensations',
       'Head&Shoulders Suprême Shampooing Réparation',
       'Lingettes Pampers® Aqua Harmonie',
       "Febreze Plaisir d'Air Thai Orchidée", 'Ariel Liquide Color',
       'Antikal Fresh Spray',
       'Head&Shoulders Suprême Hydratation Shampooing'], dtype=object)

In [104]:
### First step : we will determine if a user has had an action related to the product 'Fairy PEPS'. We have seen in the list of brands that Fairy PEPS can be written 'Fairy PEPS Platinum+ Tout-en-1' or 'Fairy PEPS Tout-en-1 Plus'

In [105]:
#Let's create target text
target_brand1 = 'Fairy PEPS Platinum+ Tout-en-1'
target_brand2 = 'Fairy PEPS Tout-en-1 Plus'

In [106]:
#We want to test if the brandName related to each action is Fairy PEPS
bool1 = df_consumer_actions['brandName']== target_brand1
bool2 = df_consumer_actions['brandName']== target_brand2
bool3 = df_consumer_actions['brandName2']== target_brand1
bool4 = df_consumer_actions['brandName2']== target_brand2

df_consumer_actions['brandName_bool'] = bool1 | bool2
df_consumer_actions['brandName2_bool'] = bool3 | bool4 

#Let's create a new column for each row telling us if the brandname 1 or 2 of the email was FairyPEPS
df_consumer_actions['brand'] = df_consumer_actions['brandName_bool'] | df_consumer_actions['brandName2_bool']
#We want it in the 1 or -1 format
df_consumer_actions['brand'] = df_consumer_actions.apply(lambda row: 1 if row['brand'] else -1, axis=1)

In [107]:
#We want to evaluate to level of interest of each user about the emails, coupons or products of P&G depending on their action

def levelOfInterestAboutMarketing(action: str) -> float:
    if action == 'Email Opened': return 1/5
    if action == 'Email Clicked': return 2/5
    if action == 'Search Site': return 3/5
    if action == 'Product Reviewed': return 4/5
    if action == 'Request Coupon Print': return 1
    if action == 'Request Coupon Add To Basket': return 1
    if action == 'Coupon Redemption': return 1
    
    
    
    return None

df_consumer_actions['level_of_interest_about_marketing'] = df_consumer_actions['event'].apply(levelOfInterestAboutMarketing)
df_consumer_actions

,userId,event,originalTimestamp,brandName,brandName2,subjectLine,url,keyword,couponRedemptionDate,brandName_bool,brandName2_bool,brand,level_of_interest_about_marketing
0,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Product Reviewed,2021-05-13 22:57:44.182000+00:00,Fairy PEPS Platinum+ Tout-en-1,NaN,Fairy PEPS Platinum+ Tout-en-1 | Envie de Plus,https://www.enviedeplus.com/marques/fairy/fair...,NaN,NaN,True,False,1,0.8
1,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Clicked,2021-05-06 20:36:14+00:00,NaN,NaN,Lenor vous fait une fleur <%${user['FirstName'...,https://www.enviedeplus.com/50-euros-chez-truf...,NaN,NaN,False,False,-1,0.4
2,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Opened,2020-09-17 19:35:13+00:00,NaN,NaN,Ariel Pods x Whirlpool = 💝,NaN,NaN,NaN,False,False,-1,0.2
3,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Opened,2020-10-23 06:18:35+00:00,NaN,NaN,"Bye-bye la grisaille, bonjour la couleur 🍂",NaN,NaN,NaN,False,False,-1,0.2
4,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,Email Opened,2021-05-10 19:50:41+00:00,NaN,NaN,Il faut qu’on parle <%${user['FirstName']}%>,NaN,NaN,NaN,False,False,-1,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172500,use_sLe3AqB7h7jlypX6JmC1TzdphFJ,Email Opened,2020-12-01 12:19:38+00:00,NaN,NaN,Jusqu'à 85 € de réductions* avec les Jours en ...,NaN,NaN,NaN,False,False,-1,0.2
1172501,use_fLS7y8W7sAXSCohYlWi1TzdXPjQ,Email Opened,2020-08-04 07:46:36+00:00,NaN,NaN,Envie de... faire une bonne action ? 🤲,NaN,NaN,NaN,False,False,-1,0.2
1172502,use_YyWKhnJXM3bUmsc66TA1TzdcFXm,Email Opened,2020-11-05 15:49:48+00:00,NaN,NaN,Votre surprise pour une peau nette 🎁,NaN,NaN,NaN,False,False,-1,0.2
1172503,use_8th6Vk4n1QZDcXwBfU41TzdfDDF,Email Opened,2020-12-04 10:02:03+00:00,NaN,NaN,🖤 Profitez de vos marques préférées avec le Bl...,NaN,NaN,NaN,False,False,-1,0.2
1172504,use_7IOHjF4piNqadzKbaZ41TzeNx4r,Email Opened,2020-12-08 07:18:25+00:00,NaN,NaN,Top départ pour remporter l’un de nos 100 coff...,NaN,NaN,NaN,False,False,-1,0.2

In [108]:
#As each user appears several time, we have to group by userId the rows and apply aggregate functions. It allows us to get a new information : the number of actions done by an user. It requires two groupby and a merge of the two results.
df_consumer_actions_cleaned_one = df_consumer_actions.groupby(['userId'], sort=False, as_index=False)["brand",'level_of_interest_about_marketing'].max()
df_consumer_actions_cleaned_two = df_consumer_actions.groupby(['userId'], sort=False, as_index=False)['event'].count()

<ipython-input-108-9b478b728fa5>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_consumer_actions_cleaned_one = df_consumer_actions.groupby(['userId'], sort=False, as_index=False)["brand",'level_of_interest_about_marketing'].max()

In [109]:

df_consumer_actions_cleaned = df_consumer_actions_cleaned_one.merge(df_consumer_actions_cleaned_two, left_on ='userId', right_on='userId',  how='left')

In [110]:
#The number of action is an integer : we have to scale it from 0 to 1
minV = df_consumer_actions_cleaned['event'].min()
maxV = df_consumer_actions_cleaned['event'].max()
df_consumer_actions_cleaned['event'] = df_consumer_actions_cleaned['event'].apply(lambda e: (e - minV) / (maxV - minV))

In [111]:
#Let's check the results
df_consumer_actions_cleaned

,userId,brand,level_of_interest_about_marketing,event
0,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,1,0.8,0.003619
1,use_zfO6MmwMKMABup7Fs9E1TzdcfQy,1,1.0,0.036711
2,use_ejDjloCwQD84hJpLAAs1TzdfSXa,1,1.0,0.019131
3,use_CAJDPBtqY7NfMHkKbYQ1TzdcUuk,-1,1.0,0.057394
4,use_azRTZAf4XAfhkCMfvQz1TzdppT4,1,0.8,0.150982
...,...,...,...,...
14741,use_sLe3AqB7h7jlypX6JmC1TzdphFJ,-1,0.2,0.000000
14742,use_fLS7y8W7sAXSCohYlWi1TzdXPjQ,-1,0.2,0.000000
14743,use_YyWKhnJXM3bUmsc66TA1TzdcFXm,-1,0.2,0.000000
14744,use_8th6Vk4n1QZDcXwBfU41TzdfDDF,-1,0.2,0.000000
14745,use_7IOHjF4piNqadzKbaZ41TzeNx4r,-1,0.2,0.000000

In [112]:
#the column "brand" should be renamed to be more relevant
df_consumer_actions_cleaned = df_consumer_actions_cleaned.rename(columns = {"brand" : "interested_by_fairypeps_email", "event": "number_of_actions"})

In [113]:
df_consumer_actions_cleaned

,userId,interested_by_fairypeps_email,level_of_interest_about_marketing,number_of_actions
0,use_bw7Dd2MM9RLPaulrFsQ1TzdmFsi,1,0.8,0.003619
1,use_zfO6MmwMKMABup7Fs9E1TzdcfQy,1,1.0,0.036711
2,use_ejDjloCwQD84hJpLAAs1TzdfSXa,1,1.0,0.019131
3,use_CAJDPBtqY7NfMHkKbYQ1TzdcUuk,-1,1.0,0.057394
4,use_azRTZAf4XAfhkCMfvQz1TzdppT4,1,0.8,0.150982
...,...,...,...,...
14741,use_sLe3AqB7h7jlypX6JmC1TzdphFJ,-1,0.2,0.000000
14742,use_fLS7y8W7sAXSCohYlWi1TzdXPjQ,-1,0.2,0.000000
14743,use_YyWKhnJXM3bUmsc66TA1TzdcFXm,-1,0.2,0.000000
14744,use_8th6Vk4n1QZDcXwBfU41TzdfDDF,-1,0.2,0.000000
14745,use_7IOHjF4piNqadzKbaZ41TzeNx4r,-1,0.2,0.000000

In [114]:
#Let's add the new columns, gotten in consumeractions, to the initial DataFrames 
tf_merged = tf.merge(df_consumer_actions_cleaned, left_on ='userId', right_on='userId',  how='left')
rf_merged = rf.merge(df_consumer_actions_cleaned, left_on ='userId', right_on='userId',  how='left')
print(tf.shape)
print(df_consumer_actions_cleaned.shape)
print(tf_merged.shape)

(12000, 24)
(14746, 4)
(12000, 27)

Finally, we don't need anymore the column userId which is not useful for the algorithms

In [115]:
#We do not need the userId
tf_merged =  tf_merged.drop(columns=['userId'])
rf_merged =  rf_merged.drop(columns=['userId'])

In [116]:
#Reindexing of the columns to have washDishes on the last column

tf_merged = tf_merged.reindex(columns=[
'userId',
'age',
'gender',
'scentLover',
'ecoInterest',
'MrPropre',
'Antikal',
'Ariel',
'Dash',
'pods',
'powder',
'liquid',
'electricToothbrush',
'likesPets',
'hasPet',
'daysSinceActivity',
'nbChildren',
'magasin',
'moyenneSurface',
'superMarket',
'hyperMarket',
'drive',
'hardDiscount',
'interested_by_fairypeps_email',
'level_of_interest_about_marketing',
'number_of_actions',
'washDishes',])

rf_merged = rf_merged.reindex(columns=[
'userId',
'age',
'gender',
'scentLover',
'ecoInterest',
'MrPropre',
'Antikal',
'Ariel',
'Dash',
'pods',
'powder',
'liquid',
'electricToothbrush',
'likesPets',
'hasPet',
'daysSinceActivity',
'nbChildren',
'magasin',
'moyenneSurface',
'superMarket',
'hyperMarket',
'drive',
'hardDiscount',
'interested_by_fairypeps_email',
'level_of_interest_about_marketing',
'number_of_actions',
'washDishes',])

In [117]:
tf_merged

,userId,age,gender,scentLover,ecoInterest,MrPropre,Antikal,Ariel,Dash,pods,...,magasin,moyenneSurface,superMarket,hyperMarket,drive,hardDiscount,interested_by_fairypeps_email,level_of_interest_about_marketing,number_of_actions,washDishes
0,NaN,0.077922,1.0,0.000000,0.387677,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.002068,1
1,NaN,0.636364,1.0,0.380207,0.666667,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.022234,1
2,NaN,0.350649,1.0,0.000000,0.666667,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.009824,1
3,NaN,0.220779,1.0,0.333333,0.333333,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.4,0.002327,0
4,NaN,0.259740,1.0,0.380207,0.000000,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.936143,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,NaN,0.454545,1.0,0.380207,0.387677,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.043175,1
11996,NaN,0.324675,1.0,0.333333,0.333333,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.2,0.000517,0
11997,NaN,0.311688,1.0,0.380207,0.666667,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.4,0.009824,0
11998,NaN,0.272727,0.0,0.380207,0.387677,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.000259,1
11999,NaN,0.181818,1.0,0.000000,0.666667,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,0.2,0.003102,0

In [118]:
rf_merged

,userId,age,gender,scentLover,ecoInterest,MrPropre,Antikal,Ariel,Dash,pods,...,magasin,moyenneSurface,superMarket,hyperMarket,drive,hardDiscount,interested_by_fairypeps_email,level_of_interest_about_marketing,number_of_actions,washDishes
0,NaN,0.259740,1.0,0.380207,0.666667,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.005946,NaN
1,NaN,0.350649,1.0,0.380207,0.666667,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.001551,NaN
2,NaN,0.116883,1.0,0.380207,0.387677,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.005946,NaN
3,NaN,0.623377,1.0,0.380207,0.387677,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.040848,NaN
4,NaN,0.311688,1.0,0.000000,0.333333,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.134436,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,NaN,0.415584,1.0,1.000000,0.666667,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3996,NaN,0.324675,1.0,0.333333,0.666667,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,0.4,0.008273,NaN
3997,NaN,0.259740,1.0,1.000000,1.000000,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3998,NaN,0.259740,1.0,0.333333,0.387677,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.015770,NaN
3999,NaN,0.324675,1.0,0.380207,0.333333,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [119]:
tf_merged.to_csv('../data/train.csv', index=False)
rf_merged.to_csv('../data/test.csv', index=False)